.comments__list
  border: none
  margin-bottom: 10px

.comments__container
  margin: 20px

.comments__user-icon
  position: absolute
  width: 64px
  height: 64px
  border-radius: 50%
  &:after
    position: absolute
    content: ""
    display: block
    border: 10px solid transparent
    border-right: 10px solid $_gray-light
    top: 25px
    left: -20px

.comments__body
  margin-left: 80px

.comments__title
  font-size: 28px
  font-family: $_helvetica-family

.comments__comment-container
  border: none
  box-shadow: none

.comments__comment-edit-form
  margin-left: 80px
  background-color: $_gray-light
  padding: 15px

.comments__comment-body
  margin-left: 80px
  background-color: $_gray-light
  padding: 15px

.comments__comment-edit-btn
  color: $_green-light

.comments__comment-delete-btn
  color: $_green