.posts__list
  border: none
  border-bottom: 2px solid $_green

.posts__container
  margin: 20px

.posts__user-icon
  position: absolute
  width: 64px
  height: 64px
  border-radius: 50%

.posts__title
  margin-left: 80px
  font-size: 28px
  font-family: $_helvetica-family
