#vue-app.app{data: {login_user_id: current_user.id}}
  = image_tag current_user.icon, style: 'width: 50px;margin 3px 20px;border-radius:50%', class: 'pull-right nav-user-icon'
  .app__navbar-main.col-sm-1
  .app__navbar-sub
  .app__home
  .app__posts
  .app__academy
  .app__performance